:root {
  --white: #ffffff;
  --blue: #5696c2;
  --red: #ea7c6f;
  --green: #6a996f;
  --black: #333333;
  --light-grey: #939393;
  --hover: rgb(214, 214, 214);
  --dark-grey: #444444;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0;
}

.wrapper h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: var(--black);
}

.wrapper p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

header {
  width: 100%;
  background: var(--white);
}

ul li {
  list-style: none;
  padding: 6px;
  transition: 0.3s ease-in-out;
}

ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: var(--light-grey);
  font-weight: 600;
  font-size: 16px;
}

header .wrapper .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

header .wrapper .nav .logo h3 {
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 24px;
}

header .wrapper .nav .navbar-menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
}

header .wrapper .nav .navbar-menu #menu-bar {
  display: none;
}

header .wrapper .nav .navbar-menu ul li:hover {
  background: var(--hover);
}

header .wrapper .nav .navbar-menu ul li:hover #submenu {
  z-index: 100;
}

header .wrapper .nav .navbar-menu ul #submenu {
  position: absolute;
  display: block;
  left: 0;
  z-index: -99;
  transition: all ease;
}

header .wrapper .nav .navbar-menu ul #submenu li {
  padding-top: 12px;
  background: var(--white);
}

header .wrapper .nav .navbar-menu ul #submenu li a:hover {
  color: var(--white);
}

header .wrapper .nav .navbar-menu ul #submenu li:hover {
  background: var(--dark-grey);
}

.top-hero .slider {
  background-image: url("../img/bg.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top-hero .slider .slider-text {
  position: absolute;
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  max-width: 700px;
  left: 370px;
  top: 70%;
}

.top-hero .slider .slider-text h1 {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  font-size: 28px;
}

.top-hero .slider .slider-text.hidden {
  display: none;
}

.top-hero .slider .btn-slide {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 42px;
  transition: 0.3s ease;
  cursor: pointer;
}

.top-hero .slider .btn-slide:hover {
  color: var(--hover);
}

.top-hero .slider .btn-slide.right {
  top: 50%;
  right: 12px;
}

.top-hero .slider .btn-slide.left {
  top: 50%;
  left: 12px;
}

.top-hero .slider .dotbox {
  display: flex;
  gap: 6px;
  position: absolute;
  top: 95%;
  left: 50%;
}

.top-hero .slider .dotbox .dot {
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.top-hero .slider .dotbox .dot:hover {
  background: var(--white);
}

.top-hero .slider .dotbox .dot.clicked {
  background: var(--white);
}

.wrapper .hero {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .hero .menu {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.wrapper .hero .menu .menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  color: var(--white);
}

.wrapper .hero .menu .menu-box h3 {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
}
.wrapper .hero .menu .menu-box.middle {
  background: var(--green);
  border: 2px solid #227c2b;
  position: relative;
}

.wrapper .hero .menu .menu-box.middle #second {
  position: absolute;
  right: -4.5%;
  top: 50%;
  font-size: 24px;
  color: #227c2b;
}

.wrapper .hero .menu .menu-box:first-child {
  background: var(--red);
  border: 2px solid rgb(185, 23, 23);
  position: relative;
}

.wrapper .hero .menu .menu-box:first-child #first {
  position: absolute;
  right: -4.5%;
  top: 50%;
  font-size: 24px;
  color: rgb(185, 23, 23);
}

.wrapper .hero .menu .menu-box:last-child {
  background: var(--blue);
  border: 2px solid #0c5281;
}

.wrapper .hero .menu .menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #939393;
  height: 300px;
  width: 400px;
  border: 1px solid black;
}
.wrapper .hero .menu .menu-box .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.wrapper .hero .menu .menu-box p {
  text-align: center;
  max-width: 350px;
}

.wrapper .hero .menu .menu-box .top img {
  height: 30%;
}

.wrapper .contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .contact .form-input #form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.wrapper .contact .form-input #form {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--black);
  margin-bottom: 12px;
  width: 600px;
}

.wrapper .contact .form-input #form .input-group span {
  color: red;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.wrapper .contact .form-input input {
  margin-bottom: 12px;
  width: 100%;
  height: 32px;
  border: 1px solid rgba(73, 73, 73, 0.5);
}

.wrapper .contact .btn-submit {
  margin-bottom: 16px;
  width: 600px;
  background: var(--blue);
  padding: 16px;
  border: none;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--white);

  cursor: pointer;
}

footer {
  margin-top: 80px;
  color: var(--white);
  background: var(--black);
}

footer .wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .wrapper .content h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--white);
}

footer .wrapper .social-media {
  text-align: center;
  height: 30%;
  display: flex;
  flex-direction: row;
  margin: 12px 0;
}

footer .wrapper .social-media img {
  height: 20px;
  margin-right: 12px;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* Tablet */

@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  header .wrapper .nav {
    position: relative;
  }

  header .wrapper .nav .logo {
    margin-left: 12px;
  }

  header .wrapper .nav .navbar-menu #menu-bar {
    display: inline-block;
    font-size: 24px;
    margin-right: 12px;
    color: var(--black);
  }

  header .wrapper .nav .navbar-menu ul {
    position: absolute;
    top: 57px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    width: 150px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    padding: 20px 0;
    display: none;
  }

  header .wrapper .nav .navbar-menu ul.active {
    display: flex;
  }

  header .wrapper .nav .navbar-menu ul li a {
    color: var(--black);
  }

  header .wrapper .nav .navbar-menu ul #submenu {
    display: none;
    padding: 0;
    margin-top: 20px;
  }

  header .wrapper .nav .navbar-menu ul li #about {
    position: relative;
  }

  header .wrapper .nav .navbar-menu ul :hover #submenu {
    position: absolute;
    display: inline-block;
    align-items: flex-start;
    top: 0;
    left: -150px;
  }

  .top-hero .slider {
    background-position: center;
  }

  .top-hero .slider .slider-text {
    left: 30px;
    max-width: 500px;
  }

  .top-hero .slider .slider-text h1 {
    font-family: "Open Sans", sans-serif;
    color: var(--white);
    font-size: 24px;
  }

  .wrapper .hero .menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .wrapper .hero .menu .menu-box {
    width: 400px;
  }

  .wrapper .contact .form-input #form {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--black);
    margin-bottom: 12px;
    width: 400px;
  }

  .wrapper .contact .btn-submit {
    width: 400px;
  }

  .top-hero .slider .btn-slide {
    font-size: 32px;
  }

  .top-hero .slider .dotbox .dot {
    width: 15px;
    height: 15px;
  }
}

/* Smartphone */

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  header .wrapper .nav .navbar-menu #menu-bar {
    font-size: 16px;
  }

  .top-hero .slider .slider-text {
    left: 50px;
    max-width: 350px;
  }

  .top-hero .slider .slider-text h1 {
    font-family: "Open Sans", sans-serif;
    color: var(--white);
    font-size: 16px;
  }

  .wrapper .hero .menu {
    gap: 12px;
  }

  .wrapper .hero .menu .menu-box {
    width: 300px;
  }

  .wrapper .contact .form-input #form {
    width: 200px;
  }

  .wrapper .contact .btn-submit {
    width: 200px;
  }

  .top-hero .slider .btn-slide {
    font-size: 24px;
  }

  .top-hero .slider .dotbox .dot {
    width: 10px;
    height: 10px;
  }
}
