:root {
  --white: #ffffff;
  --blue: #5696c2;
  --red: #ea7c6f;
  --green: #6a996f;
  --black: #333333;
  --light-grey: #939393;
  --hover: #f4f4f4;
  --dark-grey: #444444;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.wrapper h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 26px;
}

.wrapper p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

header {
  width: 100%;
  background: var(--white);
}

ul li {
  list-style: none;
  padding: 6px;
  transition: 0.3s ease-in-out;
}

ul li a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: var(--light-grey);
  font-weight: 600;
  font-size: 18px;
}

header .wrapper .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .wrapper .nav .logo h3 {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  font-weight: 800;
  font-size: 24px;
}

header .wrapper .nav .navbar-menu ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
}

header .wrapper .nav .navbar-menu ul li:hover {
  background: var(--hover);
}

header .wrapper .nav .navbar-menu ul li:hover #submenu {
  z-index: 100;
}

header .wrapper .nav .navbar-menu ul #submenu {
  position: absolute;
  display: block;
  left: 0;
  z-index: -99;
  transition: all ease;
}

header .wrapper .nav .navbar-menu ul #submenu li {
  padding-top: 10px;
  background: var(--white);
}

header .wrapper .nav .navbar-menu ul #submenu li a:hover {
  color: var(--white);
}

header .wrapper .nav .navbar-menu ul #submenu li:hover {
  background: var(--dark-grey);
}

.top-hero .slider {
  background-image: url("../img/bg.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top-hero .slider .slider-text {
  position: absolute;
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  max-width: 700px;
  left: 370px;
  top: 70%;
}

.top-hero .slider .slider-text h1 {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  font-size: 28px;
}

.top-hero .slider .slider-text.hidden {
  display: none;
}

.top-hero .slider .btn-slide {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}

.top-hero .slider .btn-slide:hover {
  color: var(--hover);
}

.top-hero .slider .btn-slide.right {
  top: 50%;
  right: 12px;
}

.top-hero .slider .btn-slide.left {
  top: 50%;
  left: 12px;
}

.top-hero .slider .dotbox {
  display: flex;
  gap: 6px;
  position: absolute;
  top: 95%;
  left: 50%;
}

.top-hero .slider .dotbox .dot {
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.top-hero .slider .dotbox .dot:hover {
  background: var(--white);
}

.top-hero .slider .dotbox .dot.clicked {
  background: var(--white);
}

.wrapper .hero {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper .hero .menu {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.wrapper .hero .menu .menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  color: var(--white);
}
.wrapper .hero .menu .menu-box.middle {
  background: var(--green);
  border: 2px solid #288a32;
  position: relative;
}

.wrapper .hero .menu .menu-box.middle #second {
  position: absolute;
  right: -4.5%;
  top: 50%;
  font-size: 24px;
  color: #288a32;
}

.wrapper .hero .menu .menu-box:first-child {
  background: var(--red);
  border: 2px solid rgb(250, 0, 0);
  position: relative;
}

.wrapper .hero .menu .menu-box:first-child #first {
  position: absolute;
  right: -4.5%;
  top: 50%;
  font-size: 24px;
  color: rgb(250, 0, 0);
}

.wrapper .hero .menu .menu-box:last-child {
  background: var(--blue);
  border: 2px solid #167ec4;
}

.wrapper .hero .menu .menu-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #939393;
  height: 300px;
  width: 400px;
  border: 1px solid black;
}
.wrapper .hero .menu .menu-box .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.wrapper .hero .menu .menu-box p {
  text-align: center;
  max-width: 350px;
}

.wrapper .hero .menu .menu-box .top img {
  height: 30%;
}

.wrapper .contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .contact .form-input #form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.wrapper .contact .form-input #form {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--black);

  margin-bottom: 12px;
  width: 600px;
}

.wrapper .contact .form-input #form .input-group span {
  color: red;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.wrapper .contact .form-input input {
  margin-bottom: 12px;
  width: 100%;
  height: 32px;
  border: 1px solid rgba(73, 73, 73, 0.5);
}

.wrapper .contact .btn-submit {
  margin-bottom: 12px;
  width: 400px;
  background: var(--blue);
  padding: 10px;
  border: none;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: var(--white);

  cursor: pointer;
}
/*.wrapper .contact .form-input {
  margin-top: 16px;
}

.wrapper .contact .form-input .content h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: var(--black);
}

.wrapper .contact .form-input .content {
  margin-bottom: 12px;
  width: 400px;
}

.wrapper .contact .form-input .content form input {
  margin-bottom: 12px;
  width: 100%;
  height: 32px;
  border: 1px solid rgba(73, 73, 73, 0.5);
}

.wrapper .contact .form-input .content textarea {
  margin-bottom: 12px;
  width: 100%;
  height: 100px;
  border: 1px solid rgba(73, 73, 73, 0.5);
}


} */

footer {
  margin-top: 80px;
  color: var(--white);
  background: var(--black);
}

footer .wrapper {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .wrapper .content h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: var(--white);
}

footer .wrapper .social-media {
  text-align: center;
  height: 30%;
  display: flex;
  flex-direction: row;
}

footer .wrapper .social-media img {
  height: 20px;
  margin-top: 6px;
  margin-right: 12px;
}
